<form ngNativeValidate #questionnaireForm="ngForm" (ngSubmit)="submit(questionnaireForm)">
    <div>
        <h1>Answer this questions</h1>
        <hr>

        <div *ngIf="authError">
            <div>
                {{ authError?.message }}
            </div>
        </div>

        <p>
            <label for="fruit"><b>Favourite fruit : </b></label>
            <select ngModel #fruit="ngModel" id="fruit" name="fruit" required>
                <option value="Apple">Apple</option>
                <option value="Pear">Pear</option>
                <option value="Banana">Banana</option>
                <option value="Strawberry">Strawberry</option>
            </select>
        </p>

        <p>
            <label for="car"><b>Favourite car : </b></label>
            <select ngModel #car="ngModel" id="car" name="car" required>
                <option value="BMW">BMW</option>
                <option value="Skoda">Skoda</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Audi">Audi</option>
            </select>
        </p>

        <div>
            <button type="submit" class="signupbtn">Submit</button>
        </div>
    </div>
</form>