<form ngNativeValidate (ngSubmit)="submit()">
    <div>
        <h1>Tell us what you like</h1>
        <hr>

        <div *ngIf="authError">
            <div>
                {{ authError?.message }}
            </div>
        </div>

        <div *ngFor = "let form of formGirls" class="form-group">
            <label for="form"><b>{{ form.question }}</b></label>
            <select [(ngModel)]=form.selAnswer id="res" name="res" required>
                <option *ngFor="let answer of form.answers" value={{answer}}>{{ answer }}</option>
            </select>
        </div>
        <div>
            <button type="submit" id="submit-btn">Submit</button>
        </div>
    </div>
</form>
