<!DOCTYPE html>
<html>

<body>
    <div>
        <div *ngIf="user">

            <p id = "usr">
                Logged in as: {{ user?.email }}
            <button id = "lgbtn" (click)="logout()">Logout</button>
            </p>

            <div id = "wb">
                <div>
                Welcome back {{ user?.displayName }} !
                </div>
                <div>
                Let's have a bit of fun, shall we?
                </div>
            </div>
            <div  *ngIf="quest" style="overflow-y:scroll; height: 75vh; width: 30vw;">
                <div *ngFor = "let lover of lovers">
                    <div id = "chat" class="container">
                        <p>You : {{ lover.sentMessage }}</p>
                        <p>{{ lover.lastname }} {{ lover.firstname }}: {{ lover.message }}</p>
                        <input #message placeholder="Reply..." type="text" required id = "inp" autocomplete="off"/>
                        <button (click)="sendMessage(lover, message.value); message.value=''" id = "sendbtn" > Send </button>
                        <span class="time-right" style="color: black; font-weight: bold;">11:00</span>
                      </div>
                </div>
            </div>

            <div *ngIf="!quest" style="margin-top: 30px;">
                <div style="margin-left: 60px; font-weight: bold;">
                Your profile is not complete...
                </div>
                <div style="margin-left: 60px;">
                    <button routerLink="/select-gender" id = "sg" >Press here to complete your registration</button>
                </div>
            </div>
        </div>
        <div *ngIf="!user" class="completeHere">
            <div class="textPosition">
                <h1>The adventure starts tonight</h1>
                <h4>Start connecting with people from your area! If you already have an account, login to
                    start.</h4>
            </div>
            <div class="buttonsPosition">
                <div class="btn-group">
                    <button class="btn" id="reg-btn" (click)="register()">Register</button>
                    <button class="btn" id="login-btn" (click)="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>