
.text {
  background-color: teal;
  font-family: 'Times New Roman', Times, serif;
  color: #070707;;
  text-align: center;
}
.completeHere {
  background-color: teal;
}
.textPosition {
  position: absolute;
	top: 35%;
	left: 38%;
	margin: -5% 0 0 -5%;
	width:30%;
  height:25%;
  background-color: rgba(255, 255, 255, 80%);
  font-family: 'Times New Roman', Times, serif;
  color: #070707;;
  text-align: center;
}

.buttonsPosition { 
	position: absolute;
	top: 50%;
	left: 50%;
  margin: -5% 0 0 -10%;
	width: 30%;
	height:30%;
}

.btn-group .btn {
  
    background-color: #9c0094; /* Green */
    border: 2px solid rgb(0, 0, 0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    
  }
  .btn-group .btn:not(:last-child) {
    border-right: none; 
  }

  .btn-group .btn:hover {
    background-color: #ff009d;
  }

  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    word-break: break-all;
  }

  .time-right {
    float: right;
    color: #aaa;
  }

  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  #usr {
    font-weight: bold;
    float: right;
    margin-right: 10px;
  }

#wb {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 60px;
}

#chat {
  background-color: rgba(255, 255, 255, 60%);
}

#lgbtn {
  background-color: rgba(151, 45, 45, 0.8);
  border-radius: 2em;
  width: 100px;
}

#sendbtn {
  display: inline-block;
  padding: 7px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4.5px #999;
  margin-left: 10px;
}

#sendbtn:hover {background-color: #3e8e41}

#sendbtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#inp {
  border: black;
  border-radius: 2em;
  border-style: solid;
  padding-left: 10px;
}

#sg {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    background-color: rgba(243, 119, 243, 0.6);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4.5px #999;
}